@CHARSET "ISO-8859-1";

body {
	margin: 0;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article, header, footer, nav {
	display: block;
}

a {
  	background-color: transparent;
}
a:active, a:hover {
  	outline: 0;
}

small {
  	font-size: 80%;
}








