@CHARSET "ISO-8859-1";

html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-color: #FFF;
}

header,
footer {
	display: block;
}

span {
	display: block;
}

a {
	color: #255ec7;
  	background-color: transparent;
}

a:active,
a:hover {
  	outline: 0;
  	color: #FACE21;
}

a.employee-portal {
	color: #FFF;
}

a.employee-portal:active,
a.employee-portal:hover {
  	outline: 0;
  	color: #FACE21;
}

small {
  	font-size: 80%;
}

hr {
	width: 100%;
	height: 0;
	-webkit-box-sizing: content-box;
   	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

ul.blank-style {
	list-style: none;
	padding-left: 0;
}

img {
	display: block;
	border: 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 3px 5px 3px 5px;
	margin-left: auto;
	margin-right: auto;
}

img.small-pic {
	width: 200px;
	height: 150px;
}

img.medium-pic {
	width: 300px;
	height: 225px;
}

img.large-pic {
	width: 400px;
	height: 300px;
}

.hidden {
	display: none;
}

#login-box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding: 20px 15px 20px 15px;
	width: 330px;
	height: auto;
	background-color: #FACE21;
	border: 2px solid #404040;
}

#logout-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: right;
}

.large-margin-above {
	margin-top: 45px;
}

.large-margin-below {
	margin-bottom: 45px;
}

.medium-margin-above {
	margin-top: 30px;
}

.medium-margin-below {
	margin-bottom: 30px;
}

.small-margin-above {
	margin-top: 15px;
}

.small-margin-below {
	margin-bottom: 15px;
}

header .left-float {
	float: left;
	text-align: left;
}

header .right-float {
	float: right;
	text-align: right;
}

header .clearfix {
	clear: both;
}

@media (min-width: 1200px) {
  	.container {
  		display: block;
		width: 1170px;
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 30px;
		margin-right: auto;
		margin-left: auto;
  	}
  
  	.container-body {
  		min-height: 500px;
  		border: 2px solid #000;
  	}
}

.row {
	display: block;
	width: inherit;
}

@media (min-width: 1200px) {
  .col {
  	display: inline-block;
  	vertical-align: top;
  	padding: 3px 5px 3px 5px;
  	margin-left: 5px;
  	margin-right: 5px;
  }
}

.red-background {
	background-color: #CC2828;
}

.yellow-background {
	background-color: #FACE21;
}

.submitButtonColumn {
	margin-top: 25px;
}

table {
	width: 100%;
}

th,
td {
	text-align: left;
	padding: 8px;
}

th {
	font-weight: bold;
  	border-bottom: 2px solid #ddd;
}

td {
	border-top: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5;
}

table.invisible-table {
	width: 50%;
}

table.invisible-table th,
table.invisible-table td {
	text-align: left;
	padding: 8px;
	border: none;
}

table.invisible-table tr:hover {
	background-color: inherit;
}

.messageBox {
	color:#555;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 25px;
    margin-right: auto;
  	margin-left: auto;
	background:#e3f7fc;
	border:1px solid #8ed9f6;
	display: inline-block;
}

.white-panel-look {
	background-color: #FFF;
	border: 1px solid #000 !important;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.white-panel-box {
	background-color: #FFF;
	border: 1px solid #000;
	width: 95%;
	padding: 8px;
	border-radius: 5px;
}

.center-text {
	text-align: center;
}

.center-element {
	margin-left: auto;
	margin-right: auto;
}

.line-98 {
	width: 98%;
}

.right-text {
	text-align: right;
}

.small-heading,
.medium-heading,
.large-heading {
	font-weight: normal;
	font-family: inherit;
	padding-bottom: 4px;
}

.small-heading {
	font-size: 1.2em;
}

.medium-heading {
	font-size: 1.6em;
}

.large-heading {
	font-size: 2em;
}

.panel-white {
	background-color: #FFF;
	border: 2px solid #000 !important;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.panel-white > .panel-heading {
	display: block;
	margin: 8px auto 0 auto;
	text-align: center;
	font-size: 1.6em;
}

.panel-white > .panel-body {
	display: block;
	margin: 8px 5px 8px 5px;
}

h4 {
	font-weight: normal;
	font-size: 18px;
	font-family: inherit;
	padding: 0;
}

nav {
	font-family: monospace;
	font-size: large;
	font-weight: bold;
	text-align: left;
	background-color: #FACE21;
	width: 100%;
	margin: 0px 0 10px 0;
	display: inline-block;
	border: 2px solid #000;
}

nav div.nav-wrapper {
	width: 1200px;
	margin: 0 auto 0 auto;
}

nav ul {
	margin: 0 auto 0 auto;
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: inherit;
}

nav ul li {
	display: block;
	position: relative;
	float: left;
	border: none;
	background-color: inherit;
	z-index: 999;
}

nav li ul {
	display: none;
}

nav ul li a {
	display: block;
	background-color: inherit;
	padding: 15px 20px 15px 20px;
	text-decoration: none;
    white-space: nowrap;
    color: #000;
}

nav ul li a:hover {
	background-color: #7D6710;
	color: #FFF;
}

nav li:hover ul {
	display: block;
	position: absolute;
}

nav li:hover li {
	float: none;
}

nav li:hover a {
	background-color: #404040;
	color: #FFF;
}

nav li:hover li a:hover {
	background-color: #7D6710;
	color: #FFF;
}

nav #drop-nav li ul li {
	border-top: 0px;
}

/***************/
/**** FORMS ****/
/***************/

form.clean-look {
    font: normal 16px/16px Arial, Helvetica, sans-serif;
    color: #666;
}

form.clean-look .row {
	margin-top: 10px;
}

form.clean-look .col {
	min-width: 300px;
}

form.clean-look label {
    display: block;
    margin: 0px 0px 5px;
}

form.clean-look button,
form.clean-look input,
form.clean-look optgroup,
form.clean-look select,
form.clean-look textarea {
	display: inline-block;
}

form.clean-look input[type="text"],
form.clean-look input[type="tel"],
form.clean-look input[type="email"],
form.clean-look input[type="password"],
form.clean-look textarea,
form.clean-look select {
    color: #555;
    min-width: 270px;
    line-height: 15px;
    padding: 5px 22px 5px 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    -moz-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: inherit;
}

form.clean-look input[type="text"],
form.clean-look input[type="tel"],
form.clean-look input[type="email"],
form.clean-look input[type="password"] {
	height: 30px;
}

form.clean-look textarea {
    height: 100px;
}

form.clean-look textarea.larger-box {
	width: 500px;
	height: 300px;
}

form.clean-look select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%); 
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   	appearance: none;
    -webkit-appearance: none;
   	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    height: 40px;
    min-width: 302px;
}

form.clean-look input[type="text"]:focus,
form.clean-look input[type="tel"]:focus,
form.clean-look input[type="email"]:focus,
form.clean-look input[type="password"]:focus,
form.clean-look textarea:focus,
form.clean-look select:focus {
	border-color: #00F;
}

form.clean-look input[type="text"]:invalid,
form.clean-look input[type="tel"]:invalid,
form.clean-look input[type="email"]:invalid,
form.clean-look input[type="password"]:invalid,
form.clean-look textarea:invalid,
form.clean-look select:invalid {
	border-color: #E5E5E5;	
}

form.clean-look input[type="text"]:invalid,
form.clean-look input[type="tel"]:invalid,
form.clean-look input[type="email"]:invalid,
form.clean-look input[type="password"]:invalid {
	background-image: url("../images/exclamation.png");
	background-position: right center;
	background-size: auto;
	background-repeat: no-repeat;
}

form .button {
    border: 1px solid #df0909;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    font-family: comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
	background-color: #f62b2b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
	background-image: linear-gradient(to bottom, #f62b2b, #d20202);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}

form .button:hover {
	border: 1px solid #b30808;
	background-color: #e40a0a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
	background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
	background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
}

form .center-form {
	margin-left: auto;
	margin-right: auto;
}

.statTable {
	border: 1px solid black;
	width: 100%
}

.statTH {
	height: 50px;
}


